$bgcolor: rgba(31, 31, 31, .6);
$bgcolor-hover: rgba(255, 255, 255, .2);
$bgcolor-hover-composted: rgba(76, 76, 76, .8);
$border: 2px solid white;
$padding: 6px;
$margin: 12px;
$margin-all: $padding $margin 0 $margin;

* {
	border-radius: 0;
}

window {
	background: none;
	font-size: 14px;
	font-family: sans-serif;
	color: #fff;
}

button {
	/* 
	if we don't unset everything the styles are weird 
	but don't unset everything everywhere or else that removes hover text formatting
	*/
	all: unset;
	font-family: "dripicons-v2", sans-serif;
	margin: 0;
	padding: $padding;
	font-size: 14px;
	color: #fff;
	background: unset;
	transition: .2s;
}

button:hover {
	background-color: $bgcolor-hover;
}

.bigbutton {
	padding: 12px;
	font-size: 22px;
	min-height: 32px; /* actual width/height doesn't exist, only min */
}

.barbox {
	margin: $margin-all;
	padding: 0 $padding;
	background-color: $bgcolor;
	border: 2px solid $bgcolor-hover; /* this causes all the taskbar elements to have different border colors, despite it looking nicer */
}

.workspaces {

	padding: 0 $padding 2px $margin;

	.workspace-entry {
		padding: 0 $padding 0 0;
		color: $bgcolor-hover;
	}

	.current {
		font-size: 20px;
		color: #fff;
	}
	
}


.tray {
	padding: 0;
}

.winbox {

	background-color: $bgcolor;
	border: $border;
	padding: $margin;
	margin: $padding $margin $margin $margin;
	
}
